{% load static %}
<html>
  <head>
    <link rel="stylesheet" href="{% static 'css_folder/event.css' %}" />
  </head>
  <body>
    <div class="events">
      <h1>Events Completed</h1>
      <div class="images">
         <img src="{% static 'images_folder/e1.jpg' %}">
         <img src="{% static 'images_folder/e2.jpg' %}">
         <img src="{% static 'images_folder/e3.jpg' %}">
         <img src="{% static 'images_folder/e4.jpg' %}">
         <img src="{% static 'images_folder/e5.jpg' %}">
         <img src="{% static 'images_folder/e6.jpg' %}">
         <img src="{% static 'images_folder/e7.jpg' %}">
         <img src="{% static 'images_folder/e8.jpg' %}">
         <img src="{% static 'images_folder/e9.jpg' %}">
         <img src="{% static 'images_folder/e10.jpg' %}">
         <img src="{% static 'images_folder/e11.jpg' %}">
      </div>
    </div>
    <div class="society">
      <h1>Societies</h1>
      <div class="images">
         <img src="{% static 'images_folder/club-1.PNG' %}">
         <img src="{% static 'images_folder/club-2.PNG' %}">
         <img src="{% static 'images_folder/club-3.PNG' %}">
         <img src="{% static 'images_folder/club-4.PNG' %}">
         <img src="{% static 'images_folder/club-5.PNG' %}">
         <img src="{% static 'images_folder/club-6.PNG' %}">
         <img src="{% static 'images_folder/club-7.PNG' %}">
      </div>
    </div>
    <div class="gallery">
      <h1>Student's Gallery</h1>
      <div class="galleryimages">
        <img src="{% static 'images_folder/club-1.PNG' %}">
      </div>
    </div>
  </body>
</html>
