{% load static %}
<html>
  <head>
    <link rel="stylesheet" href="{% static 'css_folder/staff.css' %}" />
  </head>
  <body>
    <h1>Get to Know Our Faculty</h1>

    <div class="director">
      <a
        href="{% url 'stafftemplate' faculty_name='Dr. Ravish Sagar' %}"
        class="container"
      >
        <div class="wrapper">
          <div
            class="banner-image"
            style="
              background: url(../../static/images_folder/director.PNG) no-repeat
                center;
              background-size: contain;
            "
          ></div>
          <h1>Dr. Ravish Saggar</h1>
        </div>
      </a>
    </div>

    <div class="faculty">
      <a
        href="{% url 'stafftemplate' faculty_name='Mr. Alok Mishra' %}"
        class="container"
      >
        <div class="wrapper">
          <div
            class="banner-image"
            style="
              background: url(../../static/images_folder/alok_sir.PNG) no-repeat
                center;
              background-size: contain;
            "
          ></div>
          <h1>Mr. Alok Mishra</h1>
        </div>
      </a>

      <a
        href="{% url 'stafftemplate' faculty_name='Mr. Meetender' %}"
        class="container"
      >
        <div class="wrapper">
          <div
            class="banner-image"
            style="
              background: url(../../static/images_folder/meetender_sir.jpg)
                no-repeat center;
              background-size: contain;
            "
          ></div>
          <h1>Mr. Meetender</h1>
        </div>
      </a>

      <a
        href="{% url 'stafftemplate' faculty_name='Dr. Anu Taneja' %}"
        class="container"
      >
        <div class="wrapper">
          <div
            class="banner-image"
            style="
              background: url(../../static/images_folder/anu_mam.PNG) no-repeat
                center;
              background-size: contain;
            "
          ></div>
          <h1>Dr. Anu Taneja</h1>
        </div>
      </a>

      <a
        href="{% url 'stafftemplate' faculty_name='Dr. Shalini Gambhir' %}"
        class="container"
      >
        <div class="wrapper">
          <div
            class="banner-image"
            style="
              background: url(../../static/images_folder/shalini_mam.PNG)
                no-repeat center;
              background-size: contain;
            "
          ></div>
          <h1>Dr. Shalini Gambhir</h1>
        </div>
      </a>

      <a
        href="{% url 'stafftemplate' faculty_name='Dr. Sushma Bahuguna' %}"
        class="container"
      >
        <div class="wrapper">
          <div
            class="banner-image"
            style="
              background: url(../../static/images_folder/sushma_mam.PNG)
                no-repeat center;
              background-size: contain;
            "
          ></div>
          <h1>Dr. Sushma Bahuguna</h1>
        </div>
      </a>

      <a
        href="{% url 'stafftemplate' faculty_name='Ms. Mansi Vats' %}"
        class="container"
      >
        <div class="wrapper">
          <div
            class="banner-image"
            style="
              background: url(../../static/images_folder/mansi__mam.jpg)
                no-repeat center;
              background-size: contain;
            "
          ></div>
          <h1>Ms. Mansi Vats</h1>
        </div>
      </a>

      <a
        href="{% url 'stafftemplate' faculty_name='Ms. Sonia Batra' %}"
        class="container"
      >
        <div class="wrapper">
          <div
            class="banner-image"
            style="
              background: url(../../static/images_folder/sonia_mam.PNG)
                no-repeat center;
              background-size: contain;
            "
          ></div>
          <h1>Ms. Sonia Batra</h1>
        </div>
      </a>

      <a
        href="{% url 'stafftemplate' faculty_name='Mr. Sandeep Jain' %}"
        class="container"
      >
        <div class="wrapper">
          <div
            class="banner-image"
            style="
              background: url(../../static/images_folder/sandeep_sir.PNG)
                no-repeat center;
              background-size: contain;
            "
          ></div>
          <h1>Mr. Sandeep Jain</h1>
        </div>
      </a>

      <a
        href="{% url 'stafftemplate' faculty_name='Ms. Smriti Sharma' %}"
        class="container"
      >
        <div class="wrapper">
          <div
            class="banner-image"
            style="
              background: url(../../static/images_folder/smriti_mam.PNG)
                no-repeat center;
              background-size: contain;
            "
          ></div>
          <h1>Ms. Smriti Sharma</h1>
        </div>
      </a>

      <a
        href="{% url 'stafftemplate' faculty_name='Mr Akshit Thakur' %}"
        class="container"
      >
        <div class="wrapper">
          <div
            class="banner-image"
            style="
              background: url(../../static/images_folder/akshit_sir.PNG)
                no-repeat center;
              background-size: contain;
            "
          ></div>
          <h1>Mr. Akshit Thakur</h1>
        </div>
      </a>

      <a
        href="{% url 'stafftemplate' faculty_name='Ms Gomathy M' %}"
        class="container"
      >
        <div class="wrapper">
          <div
            class="banner-image"
            style="
              background: url(../../static/images_folder/gomathi_mam.PNG)
                no-repeat center;
              background-size: contain;
            "
          ></div>
          <h1>Ms Gomathy M</h1>
        </div>
      </a>
    </div>
  </body>
</html>
